<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand">Alex Tips</span>
        <button class="btn btn-dark" type="button" id="sign-in">Sign In</button>
    </nav>
    <div class="grid-container">
        <div class="profile">
            <div class="profile-card">
                <div class="profile-picture profile-item"></div>
                <div class="profile-daily-total profile-item">
                    <h5>Total Tips Today</h5>
                    <h4 id="total-daily-tips"></h4>
                </div>
                <div class="profile-daily-total profile-item">
                    <h5>Dollar per Mile</h5>
                    <h4 id="total-dollar-per-mile"></h4>
                </div>
                <table class="profile-data profile-item">
                    <tr class="profile-data-row">
                        <th class="data-title" align="right">Max</th>
                        <th style="padding-left: 15px">Today</th>
                        <th style="padding-left: 15px">All Time</th>
                    </tr>
                    <tr class="profile-data-row">
                        <td class="data-title" align="right">Tip</td>
                        <td style="padding-left: 15px" id="max-daily-tip"></td>
                        <td style="padding-left: 15px" id="max-all-tip"></td>
                    </tr>
                    <tr class="profile-data-row">
                        <td class="data-title" align="right">Total</td>
                        <td style="padding-left: 15px" id="max-daily-total"></td>
                        <td style="padding-left: 15px" id="max-all-total"></td>
                    </tr>
                    <tr class="profile-data-row">
                        <td class="data-title" align="right">Dist.</td>
                        <td style="padding-left: 15px" id="max-daily-dist">8 miles</td>
                        <td style="padding-left: 15px" id="max-all-dist">12 miles</td>
                    </tr>
                </table>
                <div class="add-tip-button">
                    <h5>New Tip</h5>
                    <button class="btn" type="button" id="add-new-tip" onclick="location.href='tip';">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="data">
            <div class="data-settings">
                <div class="btn-group btn-group-toggle" role="group" data-toggle="buttons">
                    <label class="btn btn-secondary active data-settings-button">
                        <input type="radio" name="timeframe" id="timeframe-today" autocomplete="off" checked>Today
                    </label>
                    <label class="btn btn-secondary data-settings-button">
                        <input type="radio" name="timeframe" id="timeframe-this-week" autocomplete="off">This
                        Week
                    </label>
                    <label class="btn btn-secondary data-settings-button">
                        <input type="radio" name="timeframe" id="timeframe-this-month" autocomplete="off">This
                        Month
                    </label>
                    <label class="btn btn-secondary data-settings-button">
                        <input type="radio" name="timeframe" id="timeframe-this-year" autocomplete="off">This
                        Year
                    </label>
                    <label class="btn btn-secondary data-settings-button">
                        <input type="radio" name="timeframe" id="timeframe-all-time" autocomplete="off">All
                        Time
                    </label>
                    <!-- <button class="btn btn-secondary data-settings-button" type="button">Today</button>
                    <button class="btn btn-secondary data-settings-button" type="button">This Week</button>
                    <button class="btn btn-secondary data-settings-button" type="button">This Month</button>
                    <button class="btn btn-secondary data-settings-button" type="button">This Year</button>
                    <button class="btn btn-secondary data-settings-button" type="button">All Time</button> -->
                </div>
            </div>
            <div class="container data-container">
                <div class="data-canvas" id="average-tip-vs-gender">
                    <label class="data-label">Average Tip vs. Gender</label>
                </div>
                <div class="data-canvas" id="average-tip-vs-age">
                    <label class="data-label">Average Tip vs. Age</label>
                </div>
                <div class="data-canvas" id="average-tip-vs-gender2"></div>
                <div class="data-canvas" id="average-tip-vs-age2"></div>
                <div class="data-canvas" id="average-tip-vs-age2"></div>
                <div id="data-padding"></div>
            </div>
        </div>
    </div> <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARwDCZ873N011fIXBvMWHu1LlNq4Wdxfg&libraries=places"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="/js/data.js"></script>
</body>

</html>