::placeholder {
	color: #999999;
}

#tip-total,
#tip-amount {
	display: flex;
}

#dollar,
#plus-dollar {
	font-size: 0.75em;
}

#find-address {
	width: 6em;
	height: 6em;
}

#find-address i {
	font-size: 4em;
}

#map {
	height: 50em;
	width: 100%;
}

#sign-in {
	border: 1px solid white;
}

#add-new-tip {
	background-color: rgba(0, 0, 0, 0);
	width: 3em !important;
	font-size: 3em;
}

#age-range-output {
	margin: 0 35%;
	font-size: 2em;
	text-align: center;
}

#data-padding {
	height: 5vh;
	width: 100%;
}

.money-input {
	margin-left: 0.5em;
	width: 100%;
	border: 0 solid rgba(0, 0, 0, 0);
}

.form-label,
.form-control {
	font-size: 3em;
}

.form-control {
	height: 2em;
}

.form-group {
	margin-bottom: 6em;
}

.radio-label {
	width: 36.5vw;
	font-size: 4em !important;
}

/* Changed the color of radio button if it is checked */
.radio-label .radio-toggle[type='radio']:checked ~ span {
	color: #78a025;
}

.new-tip-title {
	font-size: 8em;
	text-align: center;
}

.submit-button {
	width: 100%;
	height: 2em;
	margin: 3vh 0 4vh 0;
	font-size: 3em;
	background-color: #78a025;
}

/* Adjust size of google maps autocomplete dropdown */
.pac-item {
	font-size: 2em;
	height: 2em;
	padding: 20px 0;
}

/* Adjust size of google maps autocomplete dropdown */
.pac-item span {
	font-size: 1em;
}

.modal-align-vertically {
	margin: 30% 0 30% 0;
}

.modal-header h5,
.modal-header span {
	font-size: 3em;
}

.modal-header h5 {
	margin-right: 45%;
}

.modal-header {
	display: flex;
}

.modal-body {
	height: 40vh;
}

.modal-footer button {
	font-size: 3em;
}

/* Sets the size of the info window on Google Maps */
.gm-style-iw {
	width: 300px !important;
	font-size: 3em !important;
	text-align: center;
}

.gm-style-iw * {
	color: #465e17;
}

.navbar {
	border-radius: 0;
}

.grid-container {
	display: grid;
	position: fixed;
	grid-template-columns: 25vw 75vw;
	grid-template-rows: 100vh;
}

.profile {
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: #b4c4d0;
	display: block;
}

.data {
	grid-column-start: 2;
	/* grid-column-end: 3; */
	height: auto;
	background-color: white;
	overflow: scroll;
}

.profile-card {
	width: 80%;
	height: 80%;
	margin: 15% 10%;
	margin-top: 5%;
	align-content: center;
	display: inline-block;
}

.profile-picture {
	position: relative;
	width: 50%;
	margin: 10% auto 5% auto;
	border-radius: 50%;
	background-color: white;
}

/* Makes profile picutre perfect square */
.profile-picture:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.profile-daily-total {
	text-align: center;
	margin-bottom: 5%;
}

.profile-data {
	margin: 0 auto;
}

.profile-item {
	margin-bottom: 5vh;
}

.profile-data-row td,
.profile-data-row th {
	padding-bottom: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
}

.add-tip-button {
	text-align: center;
}

.add-tip-button h5 {
	margin-bottom: 0;
}

.add-tip-button button {
	padding-top: 0;
}

.data-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	padding: 0;
}

.data-canvas {
	width: 40%;
	height: 35%;
	margin: 5% 5%;
}

.data-label {
	position: absolute;
	width: 30%;
	text-align: center;
	text-decoration: underline;
}

hr {
	margin: 3em 0;
	color: #555555;
	background-color: #555555;
}

@media only screen and (max-width: 768px) {
	/* TODO: change font size for 'new-tip.html' on mobile */
	.body {
		width: 100vw;
	}

	.new-tip-title {
		font-size: 4em;
	}

	.form-label {
		font-size: 2em;
	}

	.form-control {
		height: 3em;
		font-size: 2em;
	}

	.form-group {
		margin-bottom: 5vh;
	}

	/* Adjust size of google maps autocomplete dropdown */
	.pac-item {
		font-size: 1.5em;
		height: 2em;
		padding: 30px 0;
	}

	.input-group-prepend {
		/* padding-top: 5px; */
		font-size: 1.5em;
	}

	#tip-gender {
		font-size: 0.5em;
		margin: 0 10%;
	}
}
